{
    "plugins": [
        "@babel/plugin-transform-regenerator",
        "@babel/plugin-transform-runtime",
        "babel-plugin-react-anonymous-display-name",
        [
            "babel-plugin-styled-components",
            {
                "displayName": true,
                "ssr": false
            }
        ]
    ],
    "presets": [
      "@babel/preset-env",
      "@babel/preset-react"
    ]
}